{% extends 'base.html.twig' %}

{% block title %}Search result for {{ word }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ word|upper }}</h1>
            {% for entry in entries %}
                <h3>#{{ loop.index }}</h3>

                Definitions:
                <ul>
                    {% for definition in entry.definitions %}
                        <li>{{ definition }}</li>
                    {% endfor %}
                </ul>

                Pronunciations:
                <ul class="list-unstyled">
                    {% for pronunciation in entry.pronunciations %}
                        <li>
                            <audio controls src="{{ pronunciation }}">
                            </audio>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
